.game-background {
  background-image: url('../../assets/images/backg.jpg');
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.disabled-buttons {
  pointer-events: none !important;
}

.card {
  background-color: #071e4d;
  color: white;
}
