<div class="container-fluid">
  <div class="row text-white pt-5 text-center d-flex justify-content-center" style="background-color: #0D47A1; min-height: 100vh; max-height: 100vh">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <mdb-form-control>
            <input mdbInput type="text" id="typeText" class="form-control" />
            <label mdbLabel class="form-label" for="typeText">Enter your name</label>
          </mdb-form-control>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary">Start</button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <app-scoreboard></app-scoreboard>
    </div>
  </div>
</div>
