<div class="container-fluid main-background">
  <div class="row text-white pt-5 text-center d-flex justify-content-center" style="min-height: 100vh; max-height: 100vh">
    <div class="col-12">
      <h4>Welcome To The Game - Who Wants To Be A Millionaire </h4>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <mdb-form-control>
            <input mdbInput type="text" id="typeText" class="form-control" #username/>
            <label mdbLabel class="form-label" for="typeText">Enter your name</label>
          </mdb-form-control>
        </div>
        <div class="card-footer">
          <a type="button" class="btn btn-primary" [ngClass]="{'disabled': !username.value.length}" (click)="createGame(username.value)">Start</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <app-scoreboard></app-scoreboard>
    </div>
  </div>
</div>
